* {
   padding: 0;
   margin: 0;
   box-sizing: dorder-box;
}
body{
     font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    height: 600px;
    background: hsl(26, 86%, 46%);
    background: -webkit-linear-gradient(to right, hsl(26, 86%, 46%), hsl(26, 86%, 46%)), url(img/copecoo.jpg);
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsl(26, 86%, 46%)), url(/img/copecoo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
/* 
header{
    height: 100vh;
    /*Imagen de fondo propiedades
    background-image: linear-gradient(to top, rgba(161,140,209,0.404) 0%,rgba(251,193,234,0.404) 100%), url(img/copeco1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}*/
/* Mover icono hamburger a la derecha y sus propiedades*/
.hamburger {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0,0.5);
    z-index: 1000;

}
/* menu de navegacion propiedades*/
.menu-navegacion{
    position:fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0, #7646a2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0,0.5);
    transition: transform .3s ease-in-out;
    transform: translate(100%);
    z-index: 1000;
    
}
.menu-navegacion a {
    color: #fff;
    text-decoration: none;
    
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    
}
.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(221, 206, 206);
    text-align: center;
}
.titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
    color:#f5e9e9;
}
.titu{
    font-size: 28px;
    margin-bottom: 15px;
    color: #9f8ad0;
 }
.copiar{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f5e9e9;
  font-weight: 300;
  font-size: 25px;
}

.spread {
    transform: translate(0);
}  
/*estilos a servicios*/
.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;/*responsive*/
}
.contenedor-servicio img {
    width: 40%;
}
.checklist-servicio{
    width: 45%;
}
.service{
    margin-bottom: 20px;
 }
.n-service {
    margin-bottom: 7px;
    color: #9f8ad0;
}
.number {
    display: inline-block;
    background-image: linear-gradient(to top, #f16224 0, #f3eaf0 100% );
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius:50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}
/*estilos a galeria*/
.galeria{
    background-color: #f2f2f2;
}
.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-galeria{
    width: 30%;
    display: block;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0,0.5);
    cursor:pointer;
    object-fit: cover;
}
.image-light {
    position: fixed;
    background-color: rgba(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease-in-out;
    transform: translate(100%);
}
.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.cerrar{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}
.showImage{
    transform: scale(1);
}
.show{
    transform: translate(0);
}
/* alertas */

.cards{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cards .card{
    background: #26083e;
    display:inline-flex;
    margin: 2rem;
    width: 50%;
    height: 200px;
    margin-top: 3%;
    margin-block-end: 3%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit:cover;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
/* Portafolio*/
.portafolio{
    position:relative;
    background: #ebe9e9;
}
.conten {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    overflow: hidden;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position:relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
   position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*servicios*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/*footer*/
.pie-pagina{
    width: 100%;
    background-color: #414141;
    z-index: 1000%;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #18538f;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #2790c0;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

 /*responsive*/
 @media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

    .menu-navegacion{
        width:40vw;
        height: 160vw;
        margin-top: auto;
        text-align: center;  
    }
    
    .titulo {
        font-size: 40px;
        text-align: center;
        
    }
    .contenedor-servicio img {
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
     width: 80%;
     text-align: center;
    }
    .service{
        margin-bottom: 30px;
    }
    
    .agregar-imagen{
        width: 80%;
    }
    .img-galeria{
        width: 45%;
    }

    img {
        width: 100%;
    }
     /* servicios */

     .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }
      /* portafolio */
      .imagen-port{
        width: 80%;
    }
 }
   
   @media screen and (max-width:500){
    .menu-navegacion{
        width:100vw;
        height: 10px;
        margin: auto;
        
    }
    .agregar-imagen{
        width: 95%;
    }
    .hamburger{
        top:20px;
        right: 20px;
    }
    .titulo{
        font-size: 30px;
    }
   } 
 
 


 